---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 error">
  <div class="max-w-[1400px] mt-80 mb-80 mx-auto px-2">
    <h1 class="text-[#ff688b] text-4xl font-bold font-giloryExtrabold">No Result Found</h1>
  <p class="text-base font-giloryRegular font-semibold">The page you requested could not be found. Try refining your search, or use the navigation above to locate the post.</p>
  </div>
  
</Layout>
