---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 error">
  <div class=" mt-52">
    <a href="/" class="block h-screen bg-[url('https://slotsparadise.com/content//img/banners/page_not_found.webp')] bg-cover bg-no-repeat"></a>
    <!-- <h1 class="text-[#ff688b] text-4xl font-bold font-giloryExtrabold">No Result Found</h1>
  <p class="text-base font-giloryRegular font-semibold">The page you requested could not be found. Try refining your search, or use the navigation above to locate the post.</p> -->
  </div> 
</Layout>
