---
//export const prerender = true;
import LayoutLandingPage from "../layouts/LayoutLandingPage.astro";
import HeaderLandingPage from "../components/LandingPage/HeaderLandingPage.astro";
import { getSeoData } from "../lib/seoUtils";
const seo = await getSeoData(Astro);
---

<LayoutLandingPage title={seo?.title} />

<div class="main flex flex-col lg:flex-row welcome-page">
  <div class="main-header">
    <HeaderLandingPage />
  </div>
  <div class="main-content w-full">
    <div class="desktop-design hidden lg:block">
      <div
        class="content-container relative bg-cover bg-center h-screen"
        style="background-image: url(https://slotsparadise.com/the-beach/images/2023/08/xl.png)"
      >
        <div class="header-content pl-[8%] pt-4% 2xl:pt-[8%]">
          <img
            width="420"
            height="143"
            title="logo"
            alt="logo"
            src="https://slotsparadise.com/the-beach/images/2023/01/live-slot-logo.png"
          />
          <div class="et_pb_header_content_wrapper">
            <div class="content max-w-[475px]">
              <img
                class="mb-5 mt-8"
                src="https://slotsparadise.com/the-beach/images/2023/08/300-crpto-desk.png"
              />

              <div class="text-center w-3/5 mx-auto mb-10">
                <img
                  src="https://slotsparadise.com/the-beach/images/2023/08/crypto-signup-desk.png"
                />
              </div>

              <a
                class="join-now block text-white mx-auto w-[330px] text-center text-4xl tracking-[0px] uppercase font-giloryBold py-5 px-16 rounded-[50px] bg-[#4b1e5e]"
                href="https://slotsparadise.com/#register">Play Now</a
              >
              <a
                class="terms button block text-white text-center mt-5 2xl:mt-12 text-2xl tracking-normal cursor-pointer font-giloryRegular"
                id="desk-popup"
                href="#">Terms &amp; Conditions</a
              >
            </div>
            <section
              class="popup w-11/12 lg:w-1/2 bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden transition-all overflow-auto"
              id="popup-section"
            >
              <div
                class="popup__content overflow-auto px-2 py-4 sm:p-12 text-black text-base text-left"
              >
                <div
                  class="close absolute right-5 top-5 block cursor-pointer"
                  id="closeButton"
                >
                  <p class="font-bold absolute top-[-10px]">&#x2715;</p>
                </div>
                <ul>
                  <li><strong>Bonus</strong> 300%</li>
                  <li><strong>Playthrough</strong> 35x deposit + bonus</li>
                  <li><strong>Minimum deposit</strong> $25</li>
                  <li><strong>Maximum bonus</strong> $3,000</li>
                  <li>Maximum cash out amount $7,500</li>
                </ul>
                <p>
                  Casino games at Slots Paradise allowing for bonus play will
                  contribute towards the wagering requirement criteria, as
                  detailed below:
                </p>
                <p>
                  •Slots (excluding progressives), Bingo, Keno, Scratch cards
                  and lottery: 100%
                </p>
                <p>•Blackjack, card games and Video Poker : 10%</p>
                <p>
                  •Live Casino games, progressive slots, Craps, Roulette,
                  Baccarat, Red Dog, War, Texas Hold’em, Caribbean Stud,
                  Pontoon, Crashgames, Fishing Games, Sic Bo, Pai Gow, Domino,
                  Draw Hi-Lo, Plinko, Fan Tan, Pok Deng and QiuQiu are not
                  permitted while using bonuses and they do not contribute
                  towards meeting a promotion’s playthrough.
                </p>
                <p>
                  Casino deposit bonuses expire 7 days from the moment they are
                  activated.
                </p>
                <p>
                  Slots Paradise Casino reserves the right to modify or amend
                  the Terms of this promotion discretionally, without notice.
                </p>
              </div>
            </section>
            <div class="footer-img pr-5 absolute bottom-5">
              <img
                class="w-full rounded-[40px]"
                width="800"
                height="200"
                src="https://slotsparadise.com/the-beach/images/2023/01/live-dealer-footer-banner.png"
                title="Support"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-design hidden md:block lg:hidden">
      <div
        class="content-container relative bg-cover bg-center"
        style="background-image: url('https://slotsparadise.com/the-beach/images/2023/08/md.png') ; height: calc(100vh - 70px)"
      >
        <div
          class="header-content mx-auto pt-[2%] text-center flex flex-col items-center"
        >
          <img
            width="420"
            height="143"
            title="logo"
            alt="logo"
            src="https://slotsparadise.com/the-beach/images/2023/01/live-slot-logo.png"
          />
          <div class="et_pb_header_content_wrapper">
            <div class="content w-full">
              <img
                class="mb-5 mt-8"
                src="https://slotsparadise.com/the-beach/images/2023/08/300-crypto-md.png"
              />

              <div class="text-center w-3/5 mx-auto mb-10">
                <img
                  class="inline-block"
                  src="https://slotsparadise.com/the-beach/images/2023/08/crypto-signup-desk.png"
                />
              </div>

              <a
                class="join-now block text-white mx-auto w-[330px] text-center text-4xl tracking-[0px] uppercase font-giloryBold py-5 px-16 rounded-[50px] bg-[#4b1e5e]"
                href="https://slotsparadise.com/#register">Play Now</a
              >

              <div
                class="footer-img absolute bottom-2 left-1/2 -translate-x-1/2 w-full max-w-[840px] px-2"
              >
                <img
                  class="rounded-[40px] w-full max-w-[840px] mx-auto mb-2"
                  width="840"
                  height="78"
                  src="https://slotsparadise.com/the-beach/images/2023/01/support.png"
                  title="support"
                  alt="support"
                />
                <img
                  class="rounded-[40px] w-full max-w-[840px] mx-auto"
                  width="840"
                  height="78"
                  src="https://slotsparadise.com/the-beach/images/2023/01/crypto-currency.png"
                  title="currency"
                  alt="currency"
                />
                <a
                  class="terms button block text-white text-center mt-12 text-2xl tracking-normal cursor-pointer font-giloryRegular underline"
                  id="desk-popup"
                  href="#">Terms &amp; Conditions</a
                >
              </div>
              <section
                class="popup w-11/12 lg:w-1/2 bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden transition-all overflow-auto"
                id="popup-section"
              >
                <div
                  class="popup__content overflow-auto px-2 py-4 sm:p-12 text-black text-[14px] text-left"
                >
                  <div
                    class="close absolute right-5 top-5 block cursor-pointer"
                    id="closeButton"
                  >
                    <p class="font-bold absolute top-[-10px]">&#x2715;</p>
                  </div>
                  <ul>
                    <li><strong>Bonus</strong> 300%</li>
                    <li><strong>Playthrough</strong> 35x deposit + bonus</li>
                    <li><strong>Minimum deposit</strong> $25</li>
                    <li><strong>Maximum bonus</strong> $3,000</li>
                    <li>Maximum cash out amount $7,500</li>
                  </ul>
                  <p>
                    Casino games at Slots Paradise allowing for bonus play will
                    contribute towards the wagering requirement criteria, as
                    detailed below:
                  </p>
                  <p>
                    •Slots (excluding progressives), Bingo, Keno, Scratch cards
                    and lottery: 100%
                  </p>
                  <p>•Blackjack, card games and Video Poker : 10%</p>
                  <p>
                    •Live Casino games, progressive slots, Craps, Roulette,
                    Baccarat, Red Dog, War, Texas Hold’em, Caribbean Stud,
                    Pontoon, Crashgames, Fishing Games, Sic Bo, Pai Gow, Domino,
                    Draw Hi-Lo, Plinko, Fan Tan, Pok Deng and QiuQiu are not
                    permitted while using bonuses and they do not contribute
                    towards meeting a promotion’s playthrough.
                  </p>
                  <p>
                    Casino deposit bonuses expire 7 days from the moment they
                    are activated.
                  </p>
                  <p>
                    Slots Paradise Casino reserves the right to modify or amend
                    the Terms of this promotion discretionally, without notice.
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-design block md:hidden">
      <div
        class="content-container relative bg-cover bg-center h-screen"
        style="background-image: url('https://slotsparadise.com/the-beach/images/2023/08/sm.png') ; height: calc(100vh - 70px)"
      >
        <div
          class="header-content mx-auto pt-[4%] text-center flex flex-col items-center px-2"
        >
          <img
            width="420"
            height="143"
            title="logo"
            alt="logo"
            src="https://slotsparadise.com/the-beach/images/2023/01/live-slot-logo.png"
          />
          <div class="et_pb_header_content_wrapper">
            <div class="content w-full text-center">
              <div class="flex flex-col space-y-4 justify-center">
                <img
                  class="block my-5"
                  src="https://slotsparadise.com/the-beach/images/2023/08/300-crypto-mb.png"
                />
                <div class="text-center max-w-[200px] mx-auto mb-10 mt-0">
                  <img
                    src="https://slotsparadise.com/the-beach/images/2023/08/crypto-signup-sm.png"
                  />
                </div>
                <a
                  class="join-now block text-white mx-auto max-w-[300px] text-center text-3xl tracking-[0px] uppercase font-giloryBold py-5 px-10 rounded-[50px] bg-[#4b1e5e]"
                  href="https://slotsparadise.com/#register">Play Now</a
                >
              </div>
            </div>
            <div
              class="footer-img absolute bottom-2 left-1/2 -translate-x-1/2 w-full max-w-[840px] px-2"
            >
              <img
                class="rounded-[40px] w-full max-w-[840px] mx-auto mb-2"
                width="840"
                height="78"
                src="https://slotsparadise.com/the-beach/images/2023/01/support.png"
                title="support"
                alt="support"
              />
              <img
                class="rounded-[40px] w-full max-w-[840px] mx-auto"
                width="840"
                height="78"
                src="https://slotsparadise.com/the-beach/images/2023/01/crypto-currency.png"
                title="currency"
                alt="currency"
              />
              <a
                class="terms button block text-white text-center mt-3 text-xl tracking-normal cursor-pointer font-giloryRegular underline"
                id="desk-popup"
                href="#">Terms &amp; Conditions</a
              >
            </div>
            <section
              class="popup w-11/12 lg:w-1/2 bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden transition-all overflow-auto"
              id="popup-section"
            >
              <div
                class="popup__content overflow-auto px-2 py-4 sm:p-12 text-black text-[14px] text-left"
              >
                <div
                  class="close absolute right-5 top-5 block cursor-pointer"
                  id="closeButton"
                >
                  <p class="font-bold absolute top-[-10px]">&#x2715;</p>
                </div>
                <ul>
                  <li><strong>Bonus</strong> 300%</li>
                  <li><strong>Playthrough</strong> 35x deposit + bonus</li>
                  <li><strong>Minimum deposit</strong> $25</li>
                  <li><strong>Maximum bonus</strong> $3,000</li>
                  <li>Maximum cash out amount $7,500</li>
                </ul>
                <p>
                  Casino games at Slots Paradise allowing for bonus play will
                  contribute towards the wagering requirement criteria, as
                  detailed below:
                </p>
                <p>
                  •Slots (excluding progressives), Bingo, Keno, Scratch cards
                  and lottery: 100%
                </p>
                <p>•Blackjack, card games and Video Poker : 10%</p>
                <p>
                  •Live Casino games, progressive slots, Craps, Roulette,
                  Baccarat, Red Dog, War, Texas Hold’em, Caribbean Stud,
                  Pontoon, Crashgames, Fishing Games, Sic Bo, Pai Gow, Domino,
                  Draw Hi-Lo, Plinko, Fan Tan, Pok Deng and QiuQiu are not
                  permitted while using bonuses and they do not contribute
                  towards meeting a promotion’s playthrough.
                </p>
                <p>
                  Casino deposit bonuses expire 7 days from the moment they are
                  activated.
                </p>
                <p>
                  Slots Paradise Casino reserves the right to modify or amend
                  the Terms of this promotion discretionally, without notice.
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
