---
//export const prerender = true;
import LayoutLandingPage from "../layouts/LayoutLandingPage.astro";
import HeaderLandingPage from "../components/LandingPage/HeaderLandingPage.astro";

import TabLandingPage from "../components/LandingPage/TabLandingPage.astro";
import MobileLandingPage from "../components/LandingPage/MobileLandingPage.astro";
---

<LayoutLandingPage title="Welcome" />

<div class="main flex flex-col lg:flex-row welcome-page">
  <div class="main-header">
    <HeaderLandingPage />
  </div>
  <div class="main-content w-full">
    <div class="desktop-design hidden lg:block">
       <div
  class="content-container relative bg-cover bg-center h-screen"
  style= "background-image: url(https://slotsparadise.com/the-beach/images/2023/07/PANTALLAS-3.png)"
>
  <div class="header-content pl-[8%] pt-4% 2xl:pt-[8%]">
    <img width="420" height="143" title="logo" alt="logo" src="https://slotsparadise.com/the-beach/images/2023/01/live-slot-logo.png" />
    <div class="et_pb_header_content_wrapper">
      <div class="content max-w-[475px]">
        <h1
          class="text-[170px] text-center font-giloryExtrabold text-white tracking-[-5.13px] drop-shadow-xl"
        >
          $7,500
        </h1>
        <h2
          class="sub_heading text-[33px] tracking-[-.99px] leading-[41px] text-center font-giloryExtrabold text-white mt-[-40px] mb-0"
        >
          WELCOME BONUS PACKAGE
        </h2>

        <div class="text-center w-3/5 mx-auto mb-10"><img src="https://slotsparadise.com/the-beach/images/2023/08/promo-1.png"></div>

        <a
          class= "join-now block text-white mx-auto w-[330px] text-center text-4xl tracking-[0px] uppercase font-giloryBold py-5 px-16 rounded-[50px] bg-[#4b1e5e]"
          href="https://slotsparadise.com/#register">Join Now</a
        >
        <a
          class="terms button block text-white text-center mt-5 2xl:mt-12 text-2xl tracking-normal cursor-pointer font-giloryRegular"
          id="desk-popup"
          href="#">Terms &amp; Conditions</a
        >
      </div>
      <section class="popup w-11/12 lg:w-1/2 bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden transition-all overflow-auto " id="popup-section">

  <div class="popup__content overflow-auto px-2 py-4 sm:p-12 text-black text-base text-left">
      <div class="close absolute right-5 top-5 block cursor-pointer" id="closeButton">
          <p class="font-bold absolute top-[-10px]"> &#x2715; </p>
      </div>
<p>Get a 250% bonus up to $2,500 on your first deposit plus a 150% bonus up to $1,500 on your second and third deposit along with a 200% up to $2,000 on your fourth deposit.</p>
<p>This offer can be claimed by new customers.</p>
<p>Code: WELCOME1 can only be used once per account on their initial deposit. 250% up to $1,000.</p>
<p>Code: WELCOME2 150% match bonus up to $1500 on your Second deposit</p>
<p>Code: WELCOME3 150% match bonus up to $1500 on your Third deposit</p>
<p>Code: WELCOME4 200% match bonus up to $2000 on your Fourth deposit</p>
<p>Minimum deposit $50</p>
<p>Maximum release: $5,000</p>
<p>Playthrough: 35x deposit + bonus</p>
<p>Casino games at Slots Paradise allowing for bonus play will contribute towards the wagering requirement criteria, as detailed below:</p>
<p>• Slots (excluding progressives), Bingo, Keno, Scratch cards and lottery: 100%<br>
• Blackjack, card games and Video Poker : 10%<br>
• Live Casino games, progressive slots, Craps, Roulette, Baccarat, Red Dog, War, Texas Hold’em, Caribbean Stud, Pontoon, Crashgames, Fishing Games, Sic Bo, Pai Gow, Domino, Draw Hi-Lo, Plinko, Fan Tan, Pok Deng and QiuQiu are not permitted while using bonuses and they do not contribute towards meeting a promotions playthrough.</p>
</div>
</section>
      <div class="footer-img pr-5 absolute bottom-5">
        <img
          class="w-full rounded-[40px]"
          width="800"
          height="200"
          src="https://slotsparadise.com/the-beach/images/2023/01/live-dealer-footer-banner.png"
          title="Support"
        />
      </div>
    </div>
  </div>
</div>
    </div>




   


    <div class="tab-design hidden md:block lg:hidden">

        <div
  class="content-container relative bg-cover bg-center"
  style= "background-image: url('https://slotsparadise.com/the-beach/images/2023/07/medium-slots.png') ; height: calc(100vh - 70px)">

  <div
    class="header-content mx-auto pt-[2%] text-center flex flex-col items-center"
  >
    <img width="420" height="143" title="logo" alt="logo" src="https://slotsparadise.com/the-beach/images/2023/01/live-slot-logo.png" />
    <div class="et_pb_header_content_wrapper">
      <div class="content w-full">
        <div class="flex items-center justify-center space-x-5 text-white">
            <h1
          class="text-[170px] leading-[209px] text-center font-giloryExtrabold text-white tracking-[-5.13px] inline"
        >
          $7,500
        </h1>
        

        <h2 class="welcome-bonus text-[46px] tracking-[-.99px] leading-[41px] font-giloryBold mt-[-10px]">WELCOME 
            <span class="bonus block font-black font-giloryExtrabold">BONUS</span> PACKAGE</h2>
        </div>

        <div class="text-center w-1/4 mx-auto mb-5 mt-[-20px]"><img src="https://slotsparadise.com/the-beach/images/2023/08/promo-1.png"></div>
        
        <a
          class="join-now block text-white mx-auto w-[330px] text-center text-4xl tracking-[0px] uppercase font-giloryBold py-5 px-16 rounded-[50px] bg-[#4b1e5e]"
          href="https://slotsparadise.com/#register">Join Now</a
        >
        <div
          class="footer-img absolute bottom-2 left-1/2 -translate-x-1/2 w-full max-w-[840px] px-2"
        >
          <img
            class="rounded-[40px] w-full max-w-[840px] mx-auto mb-2"
            width="840"
            height="78"
            src="https://slotsparadise.com/the-beach/images/2023/01/support.png"
            title="support"
            alt="support"
          />
          <img
            class="rounded-[40px] w-full max-w-[840px] mx-auto"
            width="840"
            height="78"
            src="https://slotsstg.wpengine.com/the-beach/images/2023/01/crypto-currency.png"
            title="currency"
            alt="currency"
          />
          <a
            class="terms button block text-white text-center mt-12 text-2xl tracking-normal cursor-pointer font-giloryRegular underline"
            id="desk-popup"
            href="#">Terms &amp; Conditions</a
          >
        </div>
          <section class="popup w-11/12 lg:w-1/2 bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden transition-all overflow-auto " id="popup-section">

  <div class="popup__content overflow-auto px-2 py-4 sm:p-12 text-black text-base text-left">
      <div class="close absolute right-5 top-5 block cursor-pointer" id="closeButton">
          <p class="font-bold absolute top-[-10px]"> &#x2715; </p>
      </div>
<p>Get a 250% bonus up to $2,500 on your first deposit plus a 150% bonus up to $1,500 on your second and third deposit along with a 200% up to $2,000 on your fourth deposit.</p>
<p>This offer can be claimed by new customers.</p>
<p>Code: WELCOME1 can only be used once per account on their initial deposit. 250% up to $1,000.</p>
<p>Code: WELCOME2 150% match bonus up to $1500 on your Second deposit</p>
<p>Code: WELCOME3 150% match bonus up to $1500 on your Third deposit</p>
<p>Code: WELCOME4 200% match bonus up to $2000 on your Fourth deposit</p>
<p>Minimum deposit $50</p>
<p>Maximum release: $5,000</p>
<p>Playthrough: 35x deposit + bonus</p>
<p>Casino games at Slots Paradise allowing for bonus play will contribute towards the wagering requirement criteria, as detailed below:</p>
<p>• Slots (excluding progressives), Bingo, Keno, Scratch cards and lottery: 100%<br>
• Blackjack, card games and Video Poker : 10%<br>
• Live Casino games, progressive slots, Craps, Roulette, Baccarat, Red Dog, War, Texas Hold’em, Caribbean Stud, Pontoon, Crashgames, Fishing Games, Sic Bo, Pai Gow, Domino, Draw Hi-Lo, Plinko, Fan Tan, Pok Deng and QiuQiu are not permitted while using bonuses and they do not contribute towards meeting a promotions playthrough.</p>
</div>
</section>
      </div>
    </div>
  </div>
</div>


    </div>

    <div class="mobile-design block md:hidden">

       <div
  class="content-container relative bg-cover bg-center h-screen"
  style= "background-image: url('https://slotsparadise.com/the-beach/images/2023/07/sm-slots.png') ; height: calc(100vh - 70px)">

  <div
    class="header-content mx-auto pt-[4%] text-center flex flex-col items-center px-2"
  >
    <img width="420" height="143" title="logo" alt="logo" src="https://slotsparadise.com/the-beach/images/2023/01/live-slot-logo.png" />
    <div class="et_pb_header_content_wrapper">
      <div class="content w-full">
        <h1
          class="text-[125px] leading-[209px] text-center font-giloryExtrabold text-white tracking-[-3.75px] pt-2"
        >
          $7,500
        </h1>
        <h2
          class="text-[20px] tracking-[-1.47px] leading-[60px] text-center font-giloryExtrabold text-white mt-[-60px] mb-5"
        >
          WELCOME BONUS PACKAGE
        </h2>

        <div class="text-center max-w-[200px] mx-auto mb-10 mt-[-25px]"><img src="https://slotsparadise.com/the-beach/images/2023/08/promo-1.png"></div>
        <a
          class="join-now block text-white mx-auto max-w-[300px] text-center text-3xl tracking-[0px] uppercase font-giloryBold py-5 px-10 rounded-[50px] bg-[#4b1e5e]"
          href="https://slotsparadise.com/#register">Join Now</a
        >
      </div>
      <div
        class="footer-img absolute bottom-2 left-1/2 -translate-x-1/2 w-full max-w-[840px] px-2"
      >
        <img
          class="rounded-[40px] w-full max-w-[840px] mx-auto mb-2"
          width="840"
          height="78"
          src="https://slotsstg.wpengine.com/the-beach/images/2023/01/support.png"
          title="support"
          alt="support"
        />
        <img
          class="rounded-[40px] w-full max-w-[840px] mx-auto"
          width="840"
          height="78"
          src="https://slotsstg.wpengine.com/the-beach/images/2023/01/crypto-currency.png"
          title="currency"
          alt="currency"
        />
        <a
          class="terms button block text-white text-center mt-3 text-xl tracking-normal cursor-pointer font-giloryRegular underline"
          id="desk-popup"
          href="#">Terms &amp; Conditions</a
        >
      </div>
      <section class="popup w-11/12 lg:w-1/2 bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden transition-all overflow-auto " id="popup-section">

  <div class="popup__content overflow-auto px-2 py-4 sm:p-12 text-black text-[12px] text-left">
      <div class="close absolute right-5 top-5 block cursor-pointer" id="closeButton">
          <p class="font-bold absolute top-[-10px]"> &#x2715; </p>
      </div>
<p>Get a 250% bonus up to $2,500 on your first deposit plus a 150% bonus up to $1,500 on your second and third deposit along with a 200% up to $2,000 on your fourth deposit.</p>
<p>This offer can be claimed by new customers.</p>
<p>Code: WELCOME1 can only be used once per account on their initial deposit. 250% up to $1,000.</p>
<p>Code: WELCOME2 150% match bonus up to $1500 on your Second deposit</p>
<p>Code: WELCOME3 150% match bonus up to $1500 on your Third deposit</p>
<p>Code: WELCOME4 200% match bonus up to $2000 on your Fourth deposit</p>
<p>Minimum deposit $50</p>
<p>Maximum release: $5,000</p>
<p>Playthrough: 35x deposit + bonus</p>
<p>Casino games at Slots Paradise allowing for bonus play will contribute towards the wagering requirement criteria, as detailed below:</p>
<p>• Slots (excluding progressives), Bingo, Keno, Scratch cards and lottery: 100%<br>
• Blackjack, card games and Video Poker : 10%<br>
• Live Casino games, progressive slots, Craps, Roulette, Baccarat, Red Dog, War, Texas Hold’em, Caribbean Stud, Pontoon, Crashgames, Fishing Games, Sic Bo, Pai Gow, Domino, Draw Hi-Lo, Plinko, Fan Tan, Pok Deng and QiuQiu are not permitted while using bonuses and they do not contribute towards meeting a promotions playthrough.</p>
</div>
</section>
    </div>
  </div>
</div>
    </div>
  </div>
</div>


