---
import SidebarArticles from "../SidebarArticles.astro";
import { ADMIN_AJAX_ENDPOINT } from "../../data/endpoints";

---

<section
  class="casino_news max-w-[1440px] mx-auto font-giloryRegular px-4 pb-16 pt-10"
>
  <div class="casino_news_title">
    <h2 class="text-[#ff688b] pb-3 font-medium font-giloryExtrabold text-3xl">
      Casino News
    </h2>
  </div>

<div class="casino_news_blocks grid grid-cols-5 gap-12">
    <div id="casino_news_container" class="casino_news_left_block col-span-5 md:col-span-3">

<script define:vars={{ ADMIN_AJAX_ENDPOINT }}>
    document.addEventListener("DOMContentLoaded", function () {
      const ajaxurl = ADMIN_AJAX_ENDPOINT;

      // Make the AJAX request
      fetch(ajaxurl, {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        body: "action=get_latest_post_from_category",
      })
        .then((response) => response.text())
        .then((data) => {
          // Update the content of the container with the sanitized result
          document.getElementById("casino_news_container").innerHTML = data;
        })
        .catch((error) => {
          // Handle fetch errors
          console.error("Fetch error:", error);
        });
    });

</script>

     
    </div>

    <div
      class="casino_news_right_block col-span-5 md:col-span-2 flex flex-col gap-4"
    >
      <SidebarArticles />
    </div>
  </div>

  <div class="more-casino-news-btn text-center mt-10">
    <a
      href="/the-beach/news"
      class="bg-[#a64485] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all"
    >
      More News
    </a>
  </div>
</section>
